In [1]:
import pandas as pd

In [2]:
from nsepy import get_history as gh
import datetime as dt

In [3]:
start = dt.datetime(2021,6,1)
end = dt.datetime(2022,2,11)
stk_data = gh(symbol='ZOMATO',start=start,end=end)

In [4]:
stk_data=stk_data[["Open","High","Low","Close"]]

In [5]:
stk_data

              Open    High     Low   Close
Date
2021-07-23  116.00  138.90  115.00  126.00
2021-07-26  126.35  143.75  125.30  140.65
2021-07-27  141.70  147.80  127.75  132.90
2021-07-28  131.00  135.00  123.55  131.20
2021-07-29  134.95  144.00  132.20  141.55
...            ...     ...     ...     ...
2022-02-07   95.10   95.50   93.35   93.55
2022-02-08   94.35   94.65   91.25   93.55
2022-02-09   94.50   95.45   93.60   94.20
2022-02-10   94.90   95.40   93.00   94.45
2022-02-11   92.75   92.75   86.50   88.70

[140 rows x 4 columns]

In [6]:
from sklearn.preprocessing import MinMaxScaler
Ms = MinMaxScaler()
data1= Ms.fit_transform(stk_data)
print("Len:",data1.shape)

Len: (140, 4)

In [7]:
data1

array([[0.35683761, 0.60653595, 0.44008559, 0.52094972],
       [0.5042735 , 0.66993464, 0.58701854, 0.72555866],
       [0.72293447, 0.72287582, 0.62196862, 0.61731844],
       [0.57051282, 0.55555556, 0.56205421, 0.59357542],
       [0.62678063, 0.67320261, 0.68544936, 0.73812849],
       [0.73575499, 0.65620915, 0.66833096, 0.62569832],
       [0.63817664, 0.63071895, 0.7275321 , 0.7122905 ],
       [0.65598291, 0.63137255, 0.75392297, 0.70810056],
       [0.69586895, 0.63398693, 0.72895863, 0.69413408],
       [0.68091168, 0.60653595, 0.68259629, 0.64594972],
       [0.63461538, 0.57124183, 0.65549215, 0.59567039],
       [0.59045584, 0.53660131, 0.61483595, 0.58519553],
       [0.57051282, 0.50915033, 0.54136947, 0.50977654],
       [0.45655271, 0.60457516, 0.55420827, 0.65572626],
       [0.63675214, 0.5869281 , 0.68330956, 0.65293296],
       [0.61111111, 0.61764706, 0.68402282, 0.67946927],
       [0.6474359 , 0.58039216, 0.68616262, 0.64594972],
       [0.59615385, 0.54705882, 0.66262482, 0.61173184],
       [0.62037037, 0.57908497, 0.70114123, 0.64594972],
       [0.62678063, 0.63986928, 0.69686163, 0.70670391],
       [0.66737892, 0.59215686, 0.57917261, 0.53840782],
       [0.51709402, 0.46339869, 0.51854494, 0.50698324],
       [0.49928775, 0.47058824, 0.55563481, 0.49650838],
       [0.48860399, 0.45294118, 0.57346648, 0.51885475],
       [0.50783476, 0.48366013, 0.56990014, 0.5027933 ],
       [0.52564103, 0.56143791, 0.61911555, 0.62639665],
       [0.61324786, 0.55816993, 0.67332382, 0.64036313],
       [0.62108262, 0.55686275, 0.66405136, 0.61312849],
       [0.58475783, 0.60130719, 0.67546362, 0.68296089],
       [0.64102564, 0.76993464, 0.7339515 , 0.85265363],
       [0.83048433, 0.74313725, 0.84308131, 0.77304469],
       [0.76851852, 0.71045752, 0.77603424, 0.71717877],
       [0.71296296, 0.66797386, 0.7831669 , 0.73393855],
       [0.71866097, 0.65882353, 0.79671897, 0.73882682],
       [0.74501425, 0.67647059, 0.82524964, 0.76047486],
       [0.77207977, 0.7875817 , 0.7425107 , 0.77374302],
       [0.74074074, 0.68627451, 0.80741797, 0.75349162],
       [0.74145299, 0.67320261, 0.81811698, 0.74511173],
       [0.73504274, 0.71111111, 0.75606277, 0.68715084],
       [0.66595442, 0.63202614, 0.70042796, 0.63687151],
       [0.65883191, 0.59477124, 0.66833096, 0.625     ],
       [0.63319088, 0.56078431, 0.67261056, 0.60614525],
       [0.62037037, 0.62614379, 0.69757489, 0.67877095],
       [0.66381766, 0.61437908, 0.7403709 , 0.66969274],
       [0.6965812 , 0.68300654, 0.7681883 , 0.76815642],
       [0.7542735 , 0.67189542, 0.76319544, 0.70251397],
       [0.67022792, 0.61437908, 0.7467903 , 0.69553073],
       [0.68732194, 0.61045752, 0.74179743, 0.66899441],
       [0.66025641, 0.62745098, 0.75392297, 0.68854749],
       [0.68589744, 0.62091503, 0.7681883 , 0.70391061],
       [0.68091168, 0.60522876, 0.75606277, 0.68784916],
       [0.68091168, 0.61045752, 0.70684736, 0.64594972],
       [0.65242165, 0.60065359, 0.7403709 , 0.67597765],
       [0.67022792, 0.59477124, 0.73537803, 0.6627095 ],
       [0.66310541, 0.58823529, 0.74179743, 0.67248603],
       [0.66025641, 0.59150327, 0.73252496, 0.66899441],
       [0.65954416, 0.5869281 , 0.71611983, 0.65293296],
       [0.64031339, 0.58562092, 0.70684736, 0.64664804],
       [0.64173789, 0.70130719, 0.7382311 , 0.77304469],
       [0.76851852, 0.6875817 , 0.7574893 , 0.69622905],
       [0.67735043, 0.62614379, 0.70898716, 0.68715084],
       [0.6951567 , 0.61960784, 0.73680456, 0.69064246],
       [0.68376068, 0.64705882, 0.73680456, 0.68505587],
       [0.67022792, 0.60718954, 0.67617689, 0.61452514],
       [0.59900285, 0.58627451, 0.69686163, 0.65293296],
       [0.64458689, 0.61111111, 0.71825963, 0.64385475],
       [0.63247863, 0.5751634 , 0.67546362, 0.65502793],
       [0.62749288, 0.55555556, 0.66119829, 0.59846369],
       [0.60754986, 0.54640523, 0.68259629, 0.61382682],
       [0.59472934, 0.5372549 , 0.67902996, 0.61103352],
       [0.59757835, 0.52810458, 0.61840228, 0.55377095],
       [0.55626781, 0.52156863, 0.65406562, 0.59567039],
       [0.5982906 , 0.5372549 , 0.66262482, 0.59287709],
       [0.59900285, 0.60653595, 0.67760342, 0.68365922],
       [0.6488604 , 0.60980392, 0.7253923 , 0.66131285],
       [0.72720798, 0.67320261, 0.69115549, 0.72905028],
       [0.72720798, 0.81960784, 0.82524964, 0.89804469],
       [0.82692308, 0.9254902 , 0.83024251, 1.        ],
       [1.        , 1.        , 0.9935806 , 0.9622905 ],
       [0.92592593, 0.91176471, 1.        , 0.9476257 ],
       [0.96794872, 0.90653595, 0.97503566, 0.92178771],
       [0.95868946, 0.85947712, 0.7510699 , 0.85265363],
       [0.84116809, 0.77777778, 0.85734665, 0.83798883],
       [0.85683761, 0.83529412, 0.93366619, 0.93296089],
       [0.94088319, 0.89934641, 0.99714693, 0.99231844],
       [0.96153846, 0.8620915 , 0.88587732, 0.83030726],
       [0.82407407, 0.80261438, 0.76105563, 0.84357542],
       [0.84045584, 0.85620915, 0.87232525, 0.89175978],
       [0.88390313, 0.85490196, 0.93152639, 0.87569832],
       [0.86396011, 0.80130719, 0.90798859, 0.86522346],
       [0.87108262, 0.78823529, 0.85164051, 0.7849162 ],
       [0.79273504, 0.71045752, 0.7296719 , 0.69622905],
       [0.71794872, 0.67058824, 0.77746077, 0.71368715],
       [0.71296296, 0.73333333, 0.80028531, 0.8226257 ],
       [0.82193732, 0.73398693, 0.87232525, 0.80377095],
       [0.75712251, 0.70457516, 0.79315264, 0.72416201],
       [0.73005698, 0.67908497, 0.82382311, 0.75349162],
       [0.76566952, 0.68562092, 0.79671897, 0.72555866],
       [0.70584046, 0.64705882, 0.79671897, 0.72486034],
       [0.72578348, 0.65816993, 0.7596291 , 0.69413408],
       [0.68376068, 0.63398693, 0.68758916, 0.65153631],
       [0.63176638, 0.56535948, 0.57703281, 0.52863128],
       [0.53988604, 0.52745098, 0.63409415, 0.59916201],
       [0.5997151 , 0.61764706, 0.69686163, 0.6976257 ],
       [0.6994302 , 0.63071895, 0.68402282, 0.61871508],
       [0.62037037, 0.54901961, 0.64835949, 0.59706704],
       [0.57549858, 0.54052288, 0.62553495, 0.61522346],
       [0.60897436, 0.54248366, 0.67760342, 0.61662011],
       [0.59472934, 0.59084967, 0.67617689, 0.67597765],
       [0.65669516, 0.58235294, 0.70114123, 0.63198324],
       [0.61111111, 0.6       , 0.70256776, 0.6801676 ],
       [0.69444444, 0.65294118, 0.7724679 , 0.7353352 ],
       [0.71794872, 0.64117647, 0.76248217, 0.69343575],
       [0.66880342, 0.59346405, 0.70114123, 0.63198324],
       [0.59900285, 0.53137255, 0.64835949, 0.57681564],
       [0.55626781, 0.50915033, 0.63980029, 0.56634078],
       [0.56339031, 0.50196078, 0.64550642, 0.57960894],
       [0.57051282, 0.52287582, 0.65406562, 0.59497207],
       [0.58618234, 0.52810458, 0.67689016, 0.60824022],
       [0.59188034, 0.53529412, 0.68758916, 0.62011173],
       [0.60042735, 0.54836601, 0.68330956, 0.62709497],
       [0.60754986, 0.54901961, 0.69686163, 0.63268156],
       [0.62037037, 0.5503268 , 0.69400856, 0.61941341],
       [0.58048433, 0.52156863, 0.62910128, 0.56564246],
       [0.52706553, 0.49934641, 0.58273894, 0.50977654],
       [0.48717949, 0.42679739, 0.40513552, 0.34846369],
       [0.32834758, 0.28366013, 0.09700428, 0.03701117],
       [0.        , 0.10392157, 0.        , 0.16410615],
       [0.10042735, 0.07189542, 0.08987161, 0.02513966],
       [0.03774929, 0.05163399, 0.06633381, 0.01187151],
       [0.00569801, 0.        , 0.07845934, 0.02374302],
       [0.01139601, 0.04313725, 0.09843081, 0.08170391],
       [0.06837607, 0.09477124, 0.15192582, 0.1424581 ],
       [0.10754986, 0.07843137, 0.17047076, 0.11731844],
       [0.08903134, 0.06993464, 0.13480742, 0.07681564],
       [0.05911681, 0.03921569, 0.13124108, 0.06773743],
       [0.04843305, 0.02810458, 0.10128388, 0.06773743],
       [0.0505698 , 0.03856209, 0.13480742, 0.07681564],
       [0.05626781, 0.0379085 , 0.12624822, 0.08030726],
       [0.02564103, 0.00326797, 0.03352354, 0.        ]])

In [8]:
data1=pd.DataFrame(data1,columns=["Open","High","Low","Close"])
data1

         Open      High       Low     Close
0    0.356838  0.606536  0.440086  0.520950
1    0.504274  0.669935  0.587019  0.725559
2    0.722934  0.722876  0.621969  0.617318
3    0.570513  0.555556  0.562054  0.593575
4    0.626781  0.673203  0.685449  0.738128
..        ...       ...       ...       ...
135  0.059117  0.039216  0.131241  0.067737
136  0.048433  0.028105  0.101284  0.067737
137  0.050570  0.038562  0.134807  0.076816
138  0.056268  0.037908  0.126248  0.080307
139  0.025641  0.003268  0.033524  0.000000

[140 rows x 4 columns]

In [11]:
training_size = round(len(data1 ) * 0.80)
print("Training size:",training_size)
X_train=data1[:training_size]
X_test=data1[training_size:]
print("X_train length:",X_train.shape)
print("X_test length:",X_test.shape)
y_train=data1[:training_size]
y_test=data1[training_size:]
print("y_train length:",y_train.shape)
print("y_test length:",y_test.shape)

Training size: 112
X_train length: (112, 4)
X_test length: (28, 4)
y_train length: (112, 4)
y_test length: (28, 4)

In [12]:
import warnings
warnings.filterwarnings("ignore")

In [13]:
performance={"Model":[],"RMSE":[],"MaPe":[],"Lag":[],"Test":[]}

In [38]:
def cominbation(dataset,listt):
    print(listt)
    datasetTwo=dataset[listt]
    print('DatasetTwo', datasetTwo)
    test_obs = 28
    train =datasetTwo[:-test_obs]
    test = datasetTwo[-test_obs:]
    print('Train length', len(train))
    print('Test length', len(test))
    from statsmodels.tsa.api import VAR
    for i in [1,2,3,4,5,6,7,8,9,10]:
        model = VAR(train)
        results = model.fit(i)
        print('Results: ', results)
        print('Order =', i)
        print('AIC: ', results.aic)
        print('BIC: ', results.bic)
        print()
    x = model.select_order(maxlags=12)
    order=x.selected_orders["aic"]
    result = model.fit(order)
    #result.summary()
    lagged_Values = train.values[-order:]
    pred = result.forecast(y=lagged_Values,steps=28) 
    preds=pd.DataFrame(pred,columns=listt)
    preds.to_csv("varforecasted_{}.csv".format(test_obs))
    from sklearn.metrics import mean_squared_error
    rmse= round(mean_squared_error(test,pred,squared=False))
    from sklearn.metrics import mean_absolute_percentage_error
    mape=mean_absolute_percentage_error(test,pred)
    performance["Model"].append(listt)
    performance["RMSE"].append(rmse)
    performance["MaPe"].append(mape)
    performance["Lag"].append(order)
    performance["Test"].append(test_obs)
    perf=pd.DataFrame(performance)
    return perf,result,pred

In [39]:
listt=["Close","High"]
listt

['Close', 'High']

In [40]:
perf,result,pred=cominbation(data1,listt)

['Close', 'High']
DatasetTwo         Close      High
0    0.520950  0.606536
1    0.725559  0.669935
2    0.617318  0.722876
3    0.593575  0.555556
4    0.738128  0.673203
..        ...       ...
135  0.067737  0.039216
136  0.067737  0.028105
137  0.076816  0.038562
138  0.080307  0.037908
139  0.000000  0.003268

[140 rows x 2 columns]
Train length 112
Test length 28
Results:  <statsmodels.tsa.vector_ar.var_model.VARResultsWrapper object at 0x000001E95797FA48>
Order = 1
AIC:  -12.802906462354514
BIC:  -12.656445370391685

Results:  <statsmodels.tsa.vector_ar.var_model.VARResultsWrapper object at 0x000001E957A46248>
Order = 2
AIC:  -12.939334813997244
BIC:  -12.693836598925206

Results:  <statsmodels.tsa.vector_ar.var_model.VARResultsWrapper object at 0x000001E957A466C8>
Order = 3
AIC:  -13.023577564229878
BIC:  -12.677899854585768

Results:  <statsmodels.tsa.vector_ar.var_model.VARResultsWrapper object at 0x000001E957A46908>
Order = 4
AIC:  -12.949471100557602
BIC:  -12.502449229370233

Results:  <statsmodels.tsa.vector_ar.var_model.VARResultsWrapper object at 0x000001E957A461C8>
Order = 5
AIC:  -12.90097414725564
BIC:  -12.351420555123285

Results:  <statsmodels.tsa.vector_ar.var_model.VARResultsWrapper object at 0x000001E957A38348>
Order = 6
AIC:  -12.901199883485893
BIC:  -12.247903501911235

Results:  <statsmodels.tsa.vector_ar.var_model.VARResultsWrapper object at 0x000001E957A38188>
Order = 7
AIC:  -12.858522639725697
BIC:  -12.100248253966404

Results:  <statsmodels.tsa.vector_ar.var_model.VARResultsWrapper object at 0x000001E957A38708>
Order = 8
AIC:  -12.78932212503906
BIC:  -11.92480971570438

Results:  <statsmodels.tsa.vector_ar.var_model.VARResultsWrapper object at 0x000001E957A38208>
Order = 9
AIC:  -12.77882088733781
BIC:  -11.806784949932702

Results:  <statsmodels.tsa.vector_ar.var_model.VARResultsWrapper object at 0x000001E957A38DC8>
Order = 10
AIC:  -12.796937279666729
BIC:  -11.716066121255558

In [29]:
data1

         Open      High       Low     Close
0    0.356838  0.606536  0.440086  0.520950
1    0.504274  0.669935  0.587019  0.725559
2    0.722934  0.722876  0.621969  0.617318
3    0.570513  0.555556  0.562054  0.593575
4    0.626781  0.673203  0.685449  0.738128
..        ...       ...       ...       ...
135  0.059117  0.039216  0.131241  0.067737
136  0.048433  0.028105  0.101284  0.067737
137  0.050570  0.038562  0.134807  0.076816
138  0.056268  0.037908  0.126248  0.080307
139  0.025641  0.003268  0.033524  0.000000

[140 rows x 4 columns]

In [30]:
perf

                      Model  RMSE          MaPe  Lag  Test
0  [Close, High, Open, Low]   0.0  1.115900e+14    2    28
1       [Close, High, Open]   0.0  1.096371e+14    1    28
2             [Close, High]   0.0  1.094502e+14    1    28

In [31]:
performance

{'Model': [['Close', 'High', 'Open', 'Low'],
  ['Close', 'High', 'Open'],
  ['Close', 'High']],
 'RMSE': [0.0, 0.0, 0.0],
 'MaPe': [111589951338041.5, 109637093974948.62, 109450194907937.44],
 'Lag': [2, 1, 1],
 'Test': [28, 28, 28]}